*/
!Input_Spectra/
Input_Spectra/*
!Input_Spectra/Demo_overcontact
!Input_Spectra/.gitkeep
!Outputs/
Outputs/*
!Outputs/.gitkeep
!Outputs/plot_chi2_minimization.py
!Grids/
Grids/*
!Grids/Test_Grid
!Grids/.gitkeep
!Demo/
!Demo/.gitkeep
